header {
    font-size: large;
    background-color: #110edd;

}



.header-img {
    height: 50px;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #110edd;

}

.card-img {
    height: 100px;
}

.card-margin {
    margin: 10px;
}


.nav-background {
    background-color: #110edd;
    color: rgb(255, 119, 0);

}

main {
    background-color: #0000ff;
    color: #006760;
}

p {
    color: #991C00
}

html {
    background-color: #0000ff;
    color: #006760;
}