header {
    font-size: large;
    background-color: #0B5D8F;

}



.header-img {
    height: 50px;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #0B5D8F;

}

.card-img {
    height: 100px;
}

.card-margin {
    margin: 10px;
}


.nav-background {
    background-color: #0B5D8F;
    color: rgb(255, 119, 0);

}

main {
    background-color: #0B5D8F;
    color: #4eaa52;
}

.card-back {
    background-color: #4eaa52;
    color: #e37221;
}

.blue-text {
    color: #0B5D8F;
}

p {
    color: #e37221
}

li {
    color: #D2681C
}

h2 {
    color: #8BD78F
}

html {
    background-color: #0B5D8F;
    color: #8BD78F;

}

/*
*/