* {
    color: #ffffff !important;
}

header {
    font-size: large;
    background-color: #0B5D8F;

}



.header-img {
    height: 50px;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #0B5D8F;

}

.card-img {
    height: 100px;
}

.card-margin {
    margin: 10px;
}


.nav-background {
    background-color: #0B5D8F;
    color: #4bf053
}

main {
    background-color: #0B5D8F;
    color: #4bf053;
}

.card-back {
    background-color: #096f0f;
    color: #ffffff;
}

.blue-text {
    color: #0B5D8F;
}

.white-text {
    color: #ffffff;
}

p {
    color: #ffffff
}

li {
    color: #ffffff
}

h2 {
    color: #096f0f
}

html {
    background-color: #0B5D8F;
    color: #4bf053;

}

a {
    color: #4bf053;
}

nav {
    color: #ffffff;
}



/*
*/